/* Mode toggle */

/* Light mode */

.light-mode .todo-main-wrapper .input-group {
  background-color: var(--light-theme-1);
  color: var(--dark-theme-1);
}

.light-mode #todo-form-check,
.light-mode .todo-item input[type="checkbox"] {
  background-color: var(--light-theme-1);
  border: 1px solid var(--light-theme-4);
}

.light-mode .todo-main-wrapper .input-group input[type="text"] {
  color: var(--dark-theme-1);
}

.light-mode .delete-todo-btn {
  color: var(--light-theme-3);
}

.light-mode .todo-wrapper,
.light-mode .sd-todo-filter {
  background-color: var(--light-theme-1);
  color: var(--dark-theme-1);
  box-shadow: 0 10px 20px rgba(var(--light-theme-5), 0.2);
}

.light-mode .todo-item {
  background-color: var(--light-theme-1);
  color: var(--dark-theme-1);
}

.light-mode .checked {
  color: var(--light-theme-4);
}

.light-mode .todo-item.dragover {
  border: 1px dashed rgb(var(--light-theme-5));
}

.light-mode .todo-item.dragstart {
  border: 1px solid rgb(var(--light-theme-5));
}

.light-mode .ld-todo-filter {
  background-color: var(--light-theme-1);
  color: var(--dark-theme-1);
}

.light-mode .todo-bottom,
.light-mode .todo-bottom button,
.light-mode .ld-todo-filter,
.light-mode .sd-todo-filter {
  color: var(--light-theme-4);
}

.light-mode .sd-todo-filter button:hover,
.light-mode .todo-bottom button:hover {
  color: rgb(var(--light-theme-5));
}

.light-mode .footer-text {
  color: var(--light-theme-3);
}

/* Dark mode */

.dark-mode .todo-main-wrapper .input-group {
  background-color: var(--dark-theme-2);
  color: var(--dark-theme-3);
}

.dark-mode #todo-form-check,
.dark-mode .todo-item input[type="checkbox"] {
  background-color: var(--dark-theme-2);
  border: 1px solid var(--dark-theme-5);
}

.dark-mode .todo-main-wrapper .input-group input[type="text"] {
  color: var(--light-theme-1);
}

.dark-mode .todo-main-wrapper .input-group input[type="text"]:focus {
  background-color: var(--dark-theme-2);
}

.dark-mode .todo-wrapper,
.dark-mode .sd-todo-filter {
  background-color: var(--dark-theme-2);
  color: var(--dark-theme-5);
  box-shadow: 0 10px 20px rgba(var(--dark-theme-6), 0.2);
}

.dark-mode .todo-item {
  color: var(--light-theme-1);
  background-color: var(--dark-theme-2);
}

.dark-mode .checked {
  color: var(--dark-theme-5);
}

.dark-mode .todo-item.dragover {
  border: 1px dashed var(--dark-theme-3);
}

.dark-mode .todo-item.dragstart {
  border: 1px solid var(--dark-theme-3);
}

.dark-mode .delete-todo-btn {
  color: var(--dark-theme-5);
}

.dark-mode .todo-bottom,
.dark-mode .todo-bottom button,
.dark-mode .ld-todo-filter {
  background-color: var(--dark-theme-2);
  color: var(--dark-theme-5);
}

.dark-mode .sd-todo-filter button:hover,
.dark-mode .todo-bottom button:hover {
  color: var(--dark-theme-3);
}

.dark-mode .footer-text {
  color: var(--dark-theme-4);
}

/* End of mode toggle */

.todo-header {
  position: relative;
  padding: 2rem 0;
  height: 200px;
  overflow: hidden;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: relative;
  z-index: 1;
}

.header-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header-bg picture {
  display: block;
}

.mode-toggler {
  background-color: transparent;
  border: none;
}

.header-content,
.todo-main-wrapper {
  margin: 0 auto;
  width: 100%;
}

.todo-main-wrapper {
  padding: 0 2rem;
  margin-top: -95px;
  position: relative;
  z-index: 1;
  _-moz-transform: translateY(-95px);
  _-webkit-transform: translateY(-95px);
}

.todo-main-wrapper .input-group {
  display: grid;
  grid-template-columns: auto 1fr;
  -ms-grid-columns: auto 1fr;
  column-gap: 1rem;
  grid-column-gap: 1rem;
  align-items: center;
  padding: 0.25rem 1rem;
  border-radius: 4px;
}

.todo-main-wrapper .input-group input[type="text"] {
  border: none;
  padding: 0.625rem 0;
  width: 100%;
  outline: none;
  background-color: transparent;
  font-size: var(--main-text);
  line-height: var(--sf-line-height);
}

#todo-form-check,
.todo-item input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
  font-size: inherit;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
  border: 1px solid;
  display: grid;
  place-content: center;
  position: relative;
  _overflow: hidden;
  transition: border-color 0.2s ease-out;
  -moz-transition: border-color 0.2s ease-out;
  -webkit-transition: border-color 0.2s ease-out;
}

#todo-form-check::before,
.todo-item input[type="checkbox"]::before {
  content: url(../images/icon-check.svg);
  display: block;
  height: 1.25em;
  width: 1.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: scale(0);
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  background: var(--check-mark-bg);
  transition: transform 0.2s ease-out;
  -moz-transition: transform 0.2s ease-out;
  -webkit-transition: transform 0.2s ease-out;
  background: linear-gradient(var(--check-mark-bg));
}

/*.todo-item input[type="checkbox"]::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  margin: -1px;
  border-radius: inherit;
  background-image: linear-gradient(var(--check-mark-bg));
}*/

.todo-item input[type="checkbox"]:hover {
  border-color: var(--color-stop-2);
}

#todo-form-check:checked::before,
.todo-item input[type="checkbox"]:checked::before {
  transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
}

.todo-wrapper {
  border-radius: 4px;
  margin-top: 1.5rem;
  overflow: hidden;
}

.todo-item {
  list-style: none;
  display: grid;
  grid-template-columns: auto 1fr auto;
  -ms-grid-columns: auto 1fr auto;
  align-items: center;
  column-gap: 0.625rem;
  grid-column-gap: 0.625rem;
  font-weight: 400;
  font-size: var(--main-text);
  line-height: var(--sf-line-height);
  border-bottom: 1px solid var(--light-theme-3);
  padding: 1rem;
  font-size: var(--main-text);
  line-height: var(--sf-line-height);
  color: var(--dark-theme-1);
  transition-property: border, opacity;
  -moz-transition-property: border, opacity;
  -webkit-transition-property: border, opacity;
  transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -webkit-transition: 0.25s ease-in-out;
}

.checked {
  text-decoration: line-through;
}

.todo-item.dragstart {
  opacity: 0.5;
}

.delete-todo-btn {
  font-size: var(--intro-text);
  line-height: var(--sf-line-height);
  font-weight: 400;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
}

.todo-item:hover > .delete-todo-btn {
  opacity: 1;
  visibility: visible;
}

.todo-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.todo-bottom,
.todo-bottom button {
  color: var(--light-theme-4);
  font-size: var(--main-text);
  line-height: var(--sf-line-height);
}

.ld-todo-filter,
.sd-todo-filter {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 20px 40px rgba(var(--light-theme-5), 0.2);
}

.ld-todo-filter {
  display: none;
  margin-top: 0;
  box-shadow: none;
  padding: 0 0.5rem;
}

.ld-todo-filter button,
.sd-todo-filter button {
  margin-right: 0.625rem;
  font-size: var(--main-text);
  line-height: var(--sf-line-height);
  font-weight: 700;
  border-top: 1px solid var(--light-theme-3);
  color: var(--light-theme-4);
  border: none;
}

button.filter-btn.active {
  color: var(--primary-color);
} 

.ld-todo-filter button:last-child,
.sd-todo-filter button:last-child {
  margin-right: 0;
}

footer {
  margin-top: 2rem;
  padding: 1rem 2rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.25s ease-out;
  -moz-transition: opacity 0.25s ease-out;
  -webkit-transition: opacity 0.25s ease-out;
}

.footer-text {
  font-size: var(--h5);
  line-height: var(--sf-line-height);
  text-align: center;
  font-weight: 700;
}

.show {
  visibility: visible;
  opacity: 1;
}

@media only screen and (min-width: 765px) {
  .todo-header {
    height: 300px;
  }

  .header-content,
  .todo-main-wrapper {
    max-width: 650px;
  }

  .todo-main-wrapper {
    margin-top: -105px;
    _-moz-transform: translateY(-105px);
    _-webkit-transform: translateY(-105px);
  }

  .ld-todo-filter {
    display: flex;
  }

  .sd-todo-filter {
    display: none;
  }
}